---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/container.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <Container>
    <h1 class="gradient-text font-extrabold tracking-tight text-6xl">
      {entry.data.title}
    </h1>
    <a class="font-bold text-primary text-lg">{entry.data.author}</a>
    <p class="text-xs text-secondary">{entry.data.date.toDateString()}</p>
    <br />
    <Content />
  </Container>
</Layout>
