/* TODO: consider creating <Button> and <GradientText> components */
p {
  @apply pb-1;
}

a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-r from-indigo-600 to-indigo-400 dark:from-indigo-400 dark:to-indigo-300;
}


article.minimalist {
  @apply prose text-default prose-lg
  /* h2 */
  prose-h2:text-primary prose-h2:font-bold
  /* h3 */
  prose-h3:capitalize prose-h3:text-primary prose-h3:font-semibold
  /* Links */
  prose-a:text-primary prose-a:no-underline hover:prose-a:underline
}
