p {
  @apply pb-1;
}

a,
.btn {
  @apply transition-colors duration-150;
  @apply focus:outline-none;
}


article.minimalist {
  @apply prose text-default prose-lg
  /* h2 */
  prose-h2:text-primary prose-h2:font-bold
  /* h3 */
  prose-h3:capitalize prose-h3:text-primary prose-h3:font-semibold
  /* Links */
  prose-a:text-primary prose-a:no-underline hover:prose-a:underline
}
