[data-theme="light"] {
  --color-primary: theme("colors.sky.500");
  --color-secondary: theme("colors.violet.500");
  --color-accent: theme("colors.purple.500");
  --color-text: theme("colors.slate.900");
  --color-text-offset: theme("colors.slate.600");
  --color-background: theme("colors.slate.50");
  --color-background-offset: theme("colors.slate.100");
  --color-border: theme("colors.slate.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.sky.400");
  --color-secondary: theme("colors.violet.400");
  --color-accent: theme("colors.purple.400");
  --color-text: theme("colors.slate.50");
  --color-text-offset: theme("colors.slate.400");
  --color-background: theme("colors.slate.900");
  --color-background-offset: theme("colors.slate.800");
  --color-border: theme("colors.slate.50" / 10%);
}
