[data-theme="light"] {
  --color-primary: theme("colors.indigo.600");
  --color-secondary: theme("colors.indigo.500");
  --color-accent: theme("colors.emerald.500");
  --color-text: theme("colors.slate.900");
  --color-text-offset: theme("colors.slate.600");
  --color-background: theme("colors.white");
  --color-background-offset: theme("colors.slate.50");
  --color-border: theme("colors.slate.200");
}

[data-theme="dark"] {
  --color-primary: theme("colors.indigo.400");
  --color-secondary: theme("colors.indigo.500");
  --color-accent: theme("colors.emerald.400");
  --color-text: theme("colors.slate.50");
  --color-text-offset: theme("colors.slate.400");
  --color-background: theme("colors.slate.950");
  --color-background-offset: theme("colors.slate.900");
  --color-border: theme("colors.slate.800");
}
