---
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/container.astro";
import Resume from "~/components/resume.astro";
---

<Layout>
  <div class="py-8">
    <Resume />
  </div>
</Layout>
