---
import { Icon } from "astro-icon/components"
const {text, icon} = Astro.props
---

<span class="text-xs text-offset px-2 py-0.5 inline-flex items-center border border-border rounded">
<Icon pack="mdi" name={icon} class="w-3 h-3 mr-1"/>
  {text}
</span>

  