---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";

import { Picture } from "astro:assets";
import munatsiImage from "~/assets/munatsi.png"
---

<ContentSection title="munatsi" id="intro">
      <Picture
        slot="eyebrow"
        class="h-32 object-cover rounded-full"
        src={munatsiImage}
        widths={[450, 800]}
        loading="eager"
        alt="Munatsi's head shot floating in space"
      />
  <Fragment slot="lead">
    I’m a <span class="text-primary">software engineer</span> 
    passionate about <span class="text-primary">building solutions</span> 
    to people's problems.
    <br />
    <br />
    Let's work <span class="text-primary">together</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="/resume/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="information" class="h-8" />
      <span>About Me</span>
    </a>
    <a
      href="https://github.com/munziu263?tab=repositories"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="github" class="h-8" />
      <span>My Projects</span>
    </a>
  </div>
</ContentSection>
