---
import EducationCard from "~/components/education-card-a4.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const education = [
  {
    degree: "MSc International Relations Theory",
    university: "London School of Economics",
    startDate: "2015",
    endDate: "2016",
    results: "2:1",
    icon: "lse",
    },
  {
    degree: "BA Economics",
    university: "Durham University",
    startDate: "2011",
    endDate: "2015",
    results: "2:1",
    icon: "durham",
    },

];
---

<div class="mt-2">
  <div class="grid grid-cols-2 gap-2 px-4">{education.map((degree) => <EducationCard {...degree} />)}</div>
</div>
