---
import JobCard from "~/components/job-card2.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const experience = [
  {
    jobTitle: "Software Consultant",
    company: "Mallowstreet",
    startDate: "2022",
    endDate: "Present",
    achievements: [
      "Developed a Natural Language Processing program using spaCy to identify and suggest corrections to errors made by the OpenAI automatic speech recognition system, Whisper.",
      "Utilized NLP techniques and phonetic algorithms to match mistranscribed names to individuals and companies in Mallowstreet's CRM system.",
    ],
    image: {
        src: "./src/assets/munatsi.png",
        widths: widths,
        aspectRatio: "1:1",
        sizes: sizes,
        loading: "eager",
        alt: "The mallowstreet logo",

    },
    link: "https://mallowstreet.com/"
  },
  {
    jobTitle: "Software Developer",
    company: "Aspen Equity Group",
    startDate: "June 2022",
    endDate: "Present",
    achievements: [
      "Led the complete refactoring of the xFactor Portfolio Optimizer backend service for VirtuosoHub, AEG's investment solutions web application.",
      "Implemented SOLID principles to enhance codebase flexibility and maintainability.",
      "Introduced unit and end-to-end testing, significantly improving reliability.",
      "Created developer tools and designed a developer playground in Jupyter Notebooks with plotting capabilities, improving developer intuition of the optimization problem and the program's success.",
      "Designed and developed Virtuoso's integration with Zendesk, a third-party customer support platform.",
    ],
    image: {
        src: "./src/assets/munatsi.png",
        widths: widths,
        aspectRatio: "1:1",
        sizes: sizes,
        loading: "eager",
        alt: "The Aspen Equity Group logo",
    },
    // link: "https://aspenequitygroup.com/"
  },
  {
    jobTitle: "Risk Management Specialist",
    company: "Equatorial Coca-Cola Bottling Company",
    startDate: "2017",
    endDate: "Present",
    achievements: [
      "Experience leading and contributing to cross functional, multi-cultural and remote teams from across 13 countries in North and West Africa",
      "Wrote Python scripts and digital tools to automate reporting processes, saving the ERM team's time and freeing resources for more complex tasks.",
      "I leveraged my excellent spoken and written communication to generate buy-in for our work programs among both top management and colleagues.",
    ],
    image: {
        src: "./src/icons/eccbc.png",
        widths: widths,
        aspectRatio: "1:1",
        sizes: sizes,
        loading: "eager",
        alt: "The Aspen Equity Group logo",
    },
    link: "https://eccbc.com/"
  },
];
---

<div class="">
  <div class="flex flex-col gap-2">{experience.map((job) => <JobCard {...job} />)}</div>
</div>
