---
import Badge from "~/components/badge.astro";
const name = "Munatsi Ziumbe";
const location = "Barcelona, Spain";
const contactDetails = [
  {
    name: "email",
    value: "munziu@gmail.com",
    icon: "email",
  },
  {
    name: "mobile",
    value: "+34 681 013 134",
    icon: "cellphone",
  },
  {
    name: "github",
    value: "github.com/munziu263",
    icon: "github",
  },
];
---

<div class="mt-4 flex flex-col gap-1">
  <h1 class="gradient-text text-center md:self-center font-bold text-6xl">{name}</h1>
  <h3 class="text-center md:self-center font-bold text-accent">{location}</h3>
  <div class="flex flex-col gap-2 mx-auto md:flex-row md:self-center">
    {
      contactDetails.map((contact) => (
        <Badge icon={contact.icon} text={contact.value} />
      ))
    }
  </div>
</div>
