---
const summary = "Driven by a relentless curiosity and fueled by a passion for building, I am a software engineer with 1-year of professional development experience and a diverse skill set honed over 6 years in the Coca-Cola System. With a background in corporate communication and enterprise risk management, I bring a unique perspective to software engineering. I am eager to contribute my expertise to projects in AI and web development, driven by a desire to make a meaningful impact."
---
<div class="w-10/12 md:w-3/5 mx-auto text-md md:text-xl text-center font-extralight">
    {summary}
</div>
