---
const summary = "Passionate self-taught software engineer with experience as a software consultant and a diverse skill set developed over 6 years in corporate communication and enterprise risk management in the Coca-Cola System. Driven by curiosity and a love for building, I am eager to apply my expertise to software engineering projects."
---
<div class="w-10/12 md:w-3/5 mx-auto text-md md:text-xl text-center font-extralight">
    {summary}
</div>
