---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import munatsiImage from "~/assets/munatsi.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="h-full p-4">
    <div
      class="relative grid h-full place-items-center gap-4 border sm:grid-cols-2 sm:gap-8"
    >
      <h2 class="flex items-center">
        <Icon name="logomarkwhite" class="h-24 text-white md:h-48" />
        <div
          class="gradient-text text-center font-extrabold text-white text-6xl md:text-8xl"
        >
          munatsi
        </div>
      </h2>
      <div
        id="munatsi"
        class="w-2/3 max-w-3xl self-start text-white tracking-wide text-right sm:w-10/12 sm:self-auto sm:justify-self-start"
      >
        <p>Born in Harare, Zimbabwe.</p>
        <p>Passionate about building tools.</p>
        <br />
        <br />
        <p>Python</p>
        <p>Typescript</p>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
