---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import munatsiImage from "~/assets/munatsi.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
interface Technology {
  name: string;
  icon: string;
  category: string;
  level?: number;
}
const technologies: Technology[] = [
  {
    name: "Python",
    icon: "python-original",
    category: "backend",
    level: 5,
  },
  {
    name: "TypeScript",
    icon: "typescript-original",
    category: "frontend",
    level: 0,
  },
  {
    name: "React",
    icon: "react-original",
    category: "frontend",
    level: 0,
  },
  {
    name: "astro",
    icon: "astromark",
    category: "frontend",
    level: 0,
  },
  {
    name: "flask",
    icon: "flask-original",
    category: "backend",
    level: 0,
  },
  {
    name: "fastapi",
    icon: "fastapi-original",
    category: "backend",
    level: 0,
  },
  {
    name: "tailwindcss",
    icon: "tailwindcss-plain",
    category: "frontend",
    level: 0,
  },
];
---

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="h-full p-4">
    <div
      class="relative grid h-full place-items-center gap-4 border sm:grid-cols-2 sm:gap-8"
    >
      <h2 class="flex items-center">
        <Icon name="logomarkwhite" class="h-24 text-white md:h-48" />
        <div
          class="gradient-text text-center font-extrabold text-white text-6xl md:text-8xl"
        >
          munatsi
        </div>
      </h2>
      <div
        class="w-2/3 max-w-3xl self-center tracking-wide text-white sm:w-10/12 sm:self-auto sm:justify-self-center text-center sm:text-right"
      >
        <p>Passionate about building tools.</p>
        <br />
        <br />
        <div class="flex gap-4 m-2 justify-center sm:justify-end">
          {
            technologies
              .filter((tech) => tech.category == "backend")
              .map((tech) => <Icon class="h-12" name={tech.icon} />)
          }
        </div>
        <div class="flex gap-4 m-2 justify-center sm:justify-end">
          {
            technologies
              .filter((tech) => tech.category == "frontend")
              .map((tech) => <Icon class="h-12" name={tech.icon} />)
          }
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
